$gray: #999;
$border: rgba(0, 0, 0, 0.1);
$shadow: rgba(0, 0, 0, 0.15);
$shade: rgba(0, 0, 0, 0.4);
$breakpoint: 848px;

#app {
  width: 100%;
  overflow: hidden;
  background: #ffffff;
}

#sidebar {
  width: 100%;
  background: white;

  .title {
    margin-bottom: 1rem;
  }
}

#map {
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

body,
html,
p {
  font-size: 1rem;
}

.form-control {
  border-width: 2px;
}

label {
  font-weight: bold;
  color: $gray;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

#nav {
  width: 100%;
  background: white;
  border-bottom: 1px solid $border;
  padding: 0.5rem 1rem;
  box-shadow: 0.15rem 0rem 0.15rem $shadow;

  h4 {
    margin-bottom: 0;
    margin-left: 3rem;
  }
}

#shade {
  display: none;
  position: fixed;
  z-index: 1;
  background: $shade;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  &.active {
    display: block;
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#toggle {
  width: auto;
  width: 2rem;
  cursor: hand;
  cursor: pointer;
  position: absolute;
  left: 1rem;
  z-index: 1001;
  top: 0.6rem;

  &:hover,
  &:focus,
  &:active {
    span {
      background: $gray;
    }
  }

  span {
    width: 100%;
    background: lighten($gray, 15%);
    height: 3px;
    display: block;
    transition: all 0.2s ease;
  }

  // Apply a margin top to all bars except the first one
  span + span {
    margin-top: 0.5rem;
  }

  &.active {
    span {
      background: $gray;
    }

    &:hover,
    &:focus,
    &:active {
      span {
        background: $gray;
      }
    }

    #first {
      transform: translateY(11px) translateX(0.2rem) rotate(135deg);
    }

    #second {
      transform: rotate(-135deg) translateX(-0.14142rem) translateY(0.14142rem);
    }

    #third {
      transform: translateY(-11px) translateX(0.2rem) rotate(135deg);
    }
  }
}

@media screen and (max-width: $breakpoint) {
  #sidebar {
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    width: 75%;
    right: 100%;
    border-right: 1px solid $border;
    transition: all 0.2s ease;
    box-shadow: 0rem 0.2rem 0.3rem $shadow;

    .title {
      margin-top: 0.5rem;
      margin-left: 3rem;
    }

    &.active {
      right: 25%;
    }
  }
}

@media screen and (min-width: $breakpoint) {
  #nav {
    display: none;
  }

  #app {
    display: flex;
  }

  #sidebar {
    width: calc(20rem + 2.5%);
    padding: 0.5rem 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid $border;
  }

  #map {
    flex: 1;
  }
}
